
<button mat-button id="rst1">VIEW STATEMENTS</button>
<button mat-button id="rst2">PENDING INVOICE</button>
<div>
  <span>TARGET vs ACHIEVEMENT</span>
  <span>
    <mat-form-field >
    <mat-select>
      <mat-option>Total</mat-option>
      <mat-option>CORN CHIPS</mat-option>

    </mat-select>
    </mat-form-field>
  </span><br>
    <div class="div1">
      <span>Target</span>
      <p>0.00</p>
    </div>
    <div  class="div1">
      <span>Target</span>
      <p>0.00</p>
    </div><br>
    <div  class="div1">
      <span>Target</span>
      <p>0.00</p>
    </div>
    <div  class="div1">
      <span>Target</span>
      <p>0.00</p>
    </div><br>
  <div style="background-color: #b00a1a; width:20px; height: 20px; display: inline-block"></div>
<span>MTD Achieved</span>

<div style="background-color: #b00a1a; width:20px; height: 20px; display: inline-block"></div>
<span>MTD Achieved</span>
  <p>*MTD: Month Till Date</p>
  <h1>OUTSTANDING</h1>
</div>
<div class="div1">
  <span>Target</span>
  <p>0.00</p>
</div>
<div  class="div1">
  <span>Target</span>
  <p>0.00</p>
</div><br>
<div  class="div1">
  <span>Target</span>
  <p>0.00</p>
</div>
<div  class="div1">
  <span>Target</span>
  <p>0.00</p>
</div>

