*{
  margin:auto;
}

label {
  margin-right: 100px;
}
.lab{
  width: 360px;
}

div{
  margin:30px;
}
.rst{
  background-color: #b00a1a;
  width:360px;
  margin-bottom:20px;
  margin-top:12px;
}
.mat-icon{
  color:white;
  background-color: #b00a1a;
}
#main{
  text-align: center;
}
