<div id="main">
  <button mat-button  class="rst">RESET  PASSWORD</button><br>
  <mat-icon>adjust</mat-icon>

  <label>Province</label>
  <mat-form-field>
    <mat-select>
      <mat-option>BOTSWANA</mat-option>
      <mat-option>COPPERBELT</mat-option>
      <mat-option>DRC</mat-option>
      <mat-option>EASTERN</mat-option>
      <mat-option>KENYA</mat-option>
      <mat-option>LUAPULA</mat-option>
      <mat-option>LUSAKA</mat-option>
      <mat-option>MALAVI</mat-option>
      <mat-option>MOZAMBIQUE</mat-option>
      <mat-option>NORTHERN</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="lab">
    <mat-label>Name</mat-label>
    <input matInput value="IQRA">
  </mat-form-field><br>
  <mat-form-field class="lab" >
    <mat-label>Tt</mat-label>
    <input matInput value="A488">
  </mat-form-field>
  <br>
  <span>Associated SM</span>
  <span><button mat-button><mat-icon>add_circle</mat-icon></button></span><br>
  <button mat-button class="rst">UPDATE CUSTOMER</button>
</div>

