#main{
<<<<<<< HEAD
  padding:0px;
=======
>>>>>>> 2e1179fabae076cec4300788c5ee72c6991bc0fb
  text-align: center;
}
header{
  background-color: #b00a1a;
  color:white;
  text-align: center;
}
.mat-button{
  outline: 1px solid #b00a1a;
  margin:10px 0px 0px 50px;
}

.lab{
  width: 360px;
}