<body>
  <div id="main">
    <div class="header">
      <h1>Capture price for this Customer</h1>
    </div>

    <mat-form-field>
      <!-- <label>Select Report Type:</label> -->
      <mat-form-field appearance=fill class ="lab">
        <mat-label>Select Report Type:</mat-label>
        <mat-select  disableRipple>
          <mat-option value="Price Capturing">Price Capturing</mat-option>
          <mat-option value="Stocking">Stocking</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance=fill class="lab">
        <mat-label>Select Channel:</mat-label>
        <mat-select disableRipple>
          <mat-option value="Format Trade">Format Trade</mat-option>
          <mat-option value="General Trade">General Trade</mat-option>
          <mat-option value="Super Market">Super Market</mat-option>
          <mat-option value="Wholesale">Wholesale</mat-option>
          <mat-option value="semiholesale">Semiwholesale</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field class="lab">
        <mat-label>Shop Name: </mat-label>
        <input matInput>
      </mat-form-field><br>

      <mat-form-field class="lab">
        <mat-label>Mobile Number: </mat-label>
        <input matInput>
      </mat-form-field><br>

      <mat-form-field class="lab">
        <mat-label>Province: </mat-label>
        <input matInput>
      </mat-form-field><br>

      <mat-form-field class="lab">
        <mat-label>Town/ City: </mat-label>
        <input matInput>
      </mat-form-field><br>

      <mat-form-field class="lab">
        <mat-label>Compound/ Area: </mat-label>
        <input matInput>
      </mat-form-field><br>

      <button mat-button type="add_cust">Add Customer</button>

    </mat-form-field>
  </div>
</body>