


<div class="header"><h1>PARAS 50KG X 24PKTS</h1>
  <input type="search" placeholder="Search any product in PARAS 50KG X 24PKTS">
  <mat-divider></mat-divider>
</div>

<div id="show">
  <mat-icon></mat-icon><span id="top">Demo[1234]</span><br>
  <mat-icon></mat-icon><span>Price:1000</span><span>Type:Standard Price</span><br>
  <span>ZMW</span><br>
  <span>SysCode:1234</span>
  <span>CaseSize:12.00</span>
  <mat-divider></mat-divider>
  <button mat-button (click)="show()"><mat-icon></mat-icon>Edit</button>
  <mat-divider></mat-divider>
</div>
<div id="hide">
  <mat-form-field class="lab">
    <mat-label>Name</mat-label>
    <input matInput value="Demo">
  </mat-form-field><br>
  <mat-form-field class="lab" >
    <mat-label>Product Code</mat-label>
    <input matInput value="1234">
  </mat-form-field><br>
  <mat-form-field class="lab">
    <mat-label>Product Sys Code</mat-label>
    <input matInput value="1234">
  </mat-form-field><br>
  <mat-form-field class="lab" >
    <mat-label>Price</mat-label>
    <input matInput value="1000.0">
  </mat-form-field>
  <button mat-button (click)="hide()">Save</button>
</div>
