


<header><h1>PARAS 50KG X 24PKTS</h1>
  <input type="search" placeholder="Search any product in PARAS 50KG X 24PKTS">
  <mat-divider></mat-divider>
</header>


<div id="show">
  <div class="parent">
  <mat-icon></mat-icon><span id="top">Demo[1234]</span><br>
  <mat-icon></mat-icon><span>Price:1000</span><span>Type:Standard Price</span><br>
  <span id="zw">ZMW</span><br>
  <span id="sys">SysCode:1234</span>
  <span>CaseSize:12.00</span>
 <hr>

  <button mat-button (click)="show()">Edit</button>
 <hr>
</div>
  </div>

<div id="hide">
  <div class="parent">
  <mat-form-field class="lab">
    <mat-label>Name</mat-label>
    <input matInput value="Demo">
  </mat-form-field><br>
  <mat-form-field class="lab" >
    <mat-label>Product Code</mat-label>
    <input matInput value="1234">
  </mat-form-field><br>
  <mat-form-field class="lab">
    <mat-label>Product Sys Code</mat-label>
    <input matInput value="1234">
  </mat-form-field><br>
  <mat-form-field class="lab" >
    <mat-label>Price</mat-label>
    <input matInput value="1000.0">
  </mat-form-field><br>
  <button mat-button (click)="hide()">Save</button>
</div>
</div>
