span{
  margin:10px;
}
.mat-button{
  outline: 1px solid #b00a1a;
}
#hide{
  display:none;
}
.header{
  background-color: #b00a1a;
   height: 130px;
  text-align: center;
  color:white;
  margin:0px;
}
input{
  width:400px;
  height: 40px;
}
.mat-divider{
  background-color: white;
  margin: 30px 20px 0px 20px;
}
