<header>
    <h1>Orders List</h1>

</header>
<div id="main">
<div>
<p>Date:</p><span>2019-10-14</span>
<p class="bill" >Status:</p><span ><b>BILLED</b></span><br>
<p>Oredr Id:</p><span>ORD8041319218</span><br>
<p>Customer:</p><span>WASIM iNVESTMENT LTD(SOWETO)[393]</span><br>
<p>ZAMBIA [LUSAKA]</p><br>
<span>41039.00ZWM</span><br>
<p>Total Net Weight:</p><span><b>1.71 TONNAGE</b></span><br>
  <button mat-button routerLink= "washimorder">VIEW ORDER </button>
  <button mat-button disabled>IMPORT</button>
</div>
  <hr>
<div id="child">
  <p>Date:</p><span>2019-10-8</span>
  <p class="bill" >Status:</p><span ><b>BILLED</b></span><br>
  <p>Oredr Id:</p><span>ORD6356551044</span><br>
  <p>Customer:</p><span>LOVELY SHOPPING CENTRE[163]</span><br>
  <p>ZAMBIA [LUSAKA]</p><br>
  <span>22920.00ZWM</span><br>
  <p>Total Net Weight:</p><span><b>0.96 TONNAGE</b></span><br>
  <button mat-button>VIEW ORDER</button>
  <button mat-button disabled>IMPORT</button>
</div>
  </div>
