<mat-nav-list>
    <div class="profile">
        <img src="">
        <small> <p>Welcome</p></small>
        <p>Mr. Anwar Quazi </p>
    </div>
    <mat-divider></mat-divider>

    <a  mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>

    <a mat-list-item  routerLink="/orders">orders</a>
    <a mat-list-item  routerLink="/customers">Customers</a>
    <a mat-list-item  routerLink="/sales-executive">Sales Executive</a>
    <a mat-list-item routerLink="/products">Products</a>
    <a mat-list-item  routerLink="/capture-price">Capture Price</a>

</mat-nav-list>

