

#parent{
  text-align: center;
  margin-top: 20px;

}
#hide{
  display:none;
}
span{
  color:grey;
}
P{
  font-weight:bold;
}

.div1{
  display:inline-block;
  border: 1px solid;
  width:150px;
  height: 50px;
  margin:20px;
  text-align: center;
}
.div2{
  display:inline-block;
  border: 1px solid;
  width:150px;
  height: 90px;
  margin:20px;
  text-align: center;
}
.mtd{
  height: 10px;
  width: 30px;
  background-color: #b00a1a;
  display: inline-block;
  margin-left: -100px;
  margin-right: 20px;


}
.todo{
  height: 10px;
  width: 30px;
  background-color: #fff683;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;

}
.piechart {

  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(
    #fff683 300deg,
    #b00a1a 60deg);
  display:inline-block;
  margin-left: -200px;
  margin-bottom: 50px;

}


.piechart1 {

  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(
    #fff683 358deg,
    white 2deg);
  display:inline-block;
  margin-left: -200px;
  margin-bottom: 50px;


}
.main {
  text-align: center;

}
#ta{
  display: inline;
}
