
<div id="parent">
<h1>TARGET vs ACHIEVEMENT</h1>

<mat-form-field>
  <mat-select>

    <mat-option ><mat-radio-button class="radio" Value="Total" (change)="show($event)" labelPosition="before" color="primary">Total</mat-radio-button></mat-option>
    <mat-option ><mat-radio-button Value="CORN CHIPS" (change)="hide($event)" labelPosition="before" color="primary">CORN CHIPS</mat-radio-button></mat-option>

</mat-select>
</mat-form-field>

</div>
<div class="main">
<div id="show">
<div class="div1">
  <span>Target</span>
  <p>5,456.35</p>
</div>
<div  class="div1">
  <span>Balance To Do</span>
  <p>4,616.02</p>
</div>
<div  class="div1">
  <span>MTD Achieved</span>
  <p>840.33</p>
</div>
<div  class="div1">
  <span>%Achieved</span>
  <p>15.40%</p>
</div><br>
  <div  class="div1">
    <span>LMTD Achieved</span>
    <p>1088.65</p>
  </div>
  <div  class="div1">
    <span>%Growth over LMTD</span>
    <p>-22.81%</p>
  </div>
  <div  class="div1">
    <span>LYMTD Achieved</span>
    <p>963.44</p>
  </div>
  <div  class="div1">
    <span>%Growth over LYMTD</span>
    <p>-12.78</p>
  </div>
  <br>
  <div style="text-align: center">
  <div class="mtd"></div><span>MTD Achieved</span>
  <div class="todo"></div><span>Balance To Do</span>
  <div class="piechart"></div>
  <p>*MTD: Month Till Date</p>
</div>
  </div>
</div>

<div id="hide">
  <div class="main">
  <div class="div1">
    <span>Target</span>
    <p>0.00</p>
  </div>
  <div class="div1">
    <span>Balance To Do</span>
    <p>0.00</p>
  </div>
  <div class="div1">
    <span>MTD Achieved</span>
    <p>0.00</p>
  </div>
  <div class="div1">
    <span>%Achieved</span>
    <p>0.00%</p>
  </div><br>
  <div class="div1">
    <span>LMTD Achieved</span>
    <p>0.00</p>
  </div>
  <div class="div1">
    <span>%Growth over LMTD</span>
    <p>0%</p>
  </div>
  <div class="div1">
    <span>LYMTD Achieved</span>
    <p>0.00</p>
  </div>
  <div  class="div1">
    <span>%Growth over LYMTD</span>
    <p>0%</p>
    </div>
  <br>

  <div class="mtd"></div><span>MTD Achieved</span>

  <div class="todo"></div><span>Balance To Do</span>

  <div class="piechart1"></div>
  <p>*MTD: Month Till Date</p>
    </div>
  </div>
<div class="main">
  <h1>OUTSTANDING</h1>
  <div class="div1">
    <span>Total Credit Limit</span>
    <p>NA</p>
  </div>
  <div  class="div1">
    <span>Total Outstanding</span>
    <p>0.00</p>
  </div>
  <div  class="div2">
    <span>
      >30-Days Outstanding
    </span>
    <p>0.00</p>
  </div>
  <div  class="div2">
    <span>Available Credit Limit</span>
    <p>NA</p>
  </div>
</div>
