
<header>
   <h1>Customer List</h1>
    <input type="search" placeholder="Search Customers">
</header>

<div id ="main">

<div id ="parent">

<div class="user">
  <h3>A488</h3>
</div>
  <div class="div3">
    <h1>Customer1</h1>
  <a routerLink="edituser"><button mat-button class="edit" > <mat-icon>create</mat-icon>EDIT USER</button></a><br>
  <a routerLink="userdashboard"><button mat-button class="dash">VIEW DASHBOARD</button></a>
  </div>
  </div>
<br>

<div class="main">
  <div class="user">
    <h3>Y001</h3>
  </div>
  <div class="div3">
    <h1>IQRA</h1>
    <a routerLink="edituser1"><button mat-button class="edit" > <mat-icon>create</mat-icon>EDIT USER</button></a><br>
    <a routerLink="userdashboard1"><button mat-button class="dash">VIEW DASHBOARD</button></a>
  </div>
</div>
  </div>
