.profile{
  background-color: #b00a1a;
  border-radius:50px;
  text-align: center;
  height: 100px;
  width:100px;
  margin:30px;
  color:white;
  position:relative;


}
p {

  position: absolute;
  margin:40px;
}
