<button mat-icon-button [matMenuTriggerFor]="menu" class="icon"><mat-icon position="end">more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>person_add</mat-icon>
        Add User
    </button>
    <button mat-menu-item>
        <mat-icon>add_circle</mat-icon>
        Add Caterory
    </button>
    <button mat-menu-item>
        <mat-icon>add_circle</mat-icon>
        Add Product
    </button>
    <button mat-menu-item>
        <mat-icon>add_circle</mat-icon>
        Add TK Product
    </button>
    <button mat-menu-item>
        <mat-icon>add_circle</mat-icon>
        Add Competitive Product
    </button>
    <button mat-menu-item>
        <mat-icon>vpn_key</mat-icon>
        Change Passward
    </button>
    <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-menu>
