<header><h1>Order detail</h1></header>

<div>
  <p>Order id: ORD8041319218 </p><br>
  <p>Customer Name:WASIM iNVESTMENT LTD<br>(SOWETO)</p><br>
  <p>Province: ZAMBIA [LUSAKA] </p><br>
  <p>Date: 2019-10-14</p><br>
  <p>Status:<b>BILLED</b></p><br>
  <p>Oreder Total:41039.00 ZMW</p><br>
  <p>Total Net Weight: 1.71 tonnage</p>
  <hr>
  <p>ALOHA S.RAIN POWDER BUCKET 1*3.5 KG<br>[APB]</p>
  <span>QTY:99</span><span>Price:90.00ZMW</span>
  <p>SubTotal: 8910.00 ZMW</p>
  <p>Net Weight: 3.5</p>
  <hr>
  <p>BOOM PASTE BOX 40 X 100G [B1B]</p>
  <span>Qty:97</span><span>Price: 100.00</span>
  <p>Sub Total: 9700.00 ZMW</p>
  <p>Net Weight: 4 Kg</p>
</div>



