
<div id="main">
<button mat-button id="rst1">VIEW STATEMENTS</button>
<button mat-button id="rst2">PENDING INVOICE</button>
<h1>TARGET vs ACHIEVEMENT</h1>
<mat-form-field>
  <mat-select>
    <mat-option ><mat-radio-button Value="Total" (change)="show($event)" labelPosition="before">Total</mat-radio-button></mat-option>
    <mat-option ><mat-radio-button Value="CORN CHIPS" (change)="hide($event)" labelPosition="before">CORN CHIPS</mat-radio-button></mat-option>
  </mat-select>
</mat-form-field>

<div id="show">
  <div class="div1">
    <span>Target</span>
    <p>4170.00</p>
  </div>

  <div  class="div1">
    <span>MTD Achieved</span>
    <p>0.00</p>
  </div>
  <div  class="div1">
    <span>%Achieved</span>
    <p>0%</p>
  </div>
  <div  class="div1">
    <span>Balance To Do</span>
    <p>41720.00</p>
  </div>
  <br>
  <div class="mtd"></div><span>MTD Achieved</span>
  <div class="todo"></div><span>Balance To Do</span>

  <p>*MTD: Month Till Date</p>
</div>

<div id="hide">
  <div class="div1">
    <span>Target</span>
    <p>4170.00</p>
  </div>

  <div  class="div1">
    <span>MTD Achieved</span>
    <p>4170.00</p>
  </div>
  <div  class="div1">
    <span>%Achieved</span>
    <p>0%</p>
  </div>
  <div  class="div1">
    <span>Balance To Do</span>
    <p>0.00</p>
  </div>
  <br>

  <div class="mtd"></div><span>MTD Achieved</span>
  <div class="todo"></div><span>Balance To Do</span>

  <p>*MTD: Month Till Date</p>
</div>


<div>
  <h1>OUTSTANDING</h1>
  <div class="div1">
    <span>Total Credit Limit</span>
    <p>3000000.00</p>
  </div>
  <div  class="div1">
    <span>Total Outstanding</span>
    <p>378305.00</p>
  </div>
  <div  class="div2">
    <span>
      >30-Days Outstanding
    </span>
    <p>385424.00</p>
  </div>
  <div  class="div2">
    <span>Available Credit Limit</span>
    <p>-78305.38</p>
  </div>
</div>
</div>


